.article-and-news {
    padding-bottom: 90px;
  }
  .article-and-news .container .header {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }
  .article-and-news .container .header .section-title {
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .article-and-news .container .section-title h2 {
    font-size: 35px;
  }
  .article-and-news .container .section-title .browse-button {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media (min-width: 1400px) {
    .article-and-news .container .header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .article-and-news .container .header .section-title {
      text-align: left;

    }
    .article-and-news .container .header .section-title h2 {
      font-size: 45px;
    }
    .article-and-news .container .header .browse-button {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
