.project-and-case .container .section-title {
    text-align: center;
}

.project-and-case .container .section-title h2 {
    font-size: 35px;
}

@media (min-width: 1400px) {
    .project-and-case .container .section-title h2 {
        font-size: 45px;
    }
}



.project-and-case .container .center-content {
    margin-top: 50px;
    margin-bottom: 90px;
}