footer .footer-menu .container {
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
}

footer .footer-menu .container .menu {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
}

@media (max-width: 1100px) {
    footer .footer-menu .container .menu {
        padding-left: 20px;
    }
}

footer .footer-menu .container .menu .item {
    padding-top: 0px;
    padding-bottom: 40px;
}

footer .footer-menu .container .menu p {
    font-size: 16px;
    padding-top: 30px;
}

footer .footer-menu .container .menu h4 {
    padding-bottom: 0px;
    padding-top: 20px;
    font-weight: bold;
}

@media (min-width: 750px) {
    footer .footer-menu .container .menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer .footer-menu .container .menu .item-1 {
        grid-column: 1/3;
    }
}

@media (min-width: 1100px) {
    footer .footer-menu .container .menu {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        gap: 3rem;
        padding-top: 90px;
        padding-bottom: 90px;
    }

    footer .footer-menu .container .menu .item {
        text-align: left;
    }

    footer .footer-menu .container .menu .item-1 {
        grid-column: 1/3;
    }

    footer .footer-menu .container .menu .item-2 {
        grid-column: 3/4;
    }

    footer .footer-menu .container .menu .item-3 {
        grid-column: 4/5;
    }

    footer .footer-menu .container .menu .item-4 {
        grid-column: 5/6;
    }

    footer .footer-menu .container .menu .item-5 {
        grid-column: 6/7;
    }

    footer .footer-menu .container .menu p {
        font-size: 16px;
        padding-top: 30px;
    }

    footer .footer-menu .container .menu h4 {
        padding-bottom: 20px;
        padding-top: 0px;
        font-weight: bold;
    }
}

footer .footer-menu .container .menu a {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    padding-top: 10px;
    font-weight: 500;
}

footer .footer-menu .container .menu a:hover {
    text-decoration: underline;
}