.subscribe {
    background-color: #F0EFE9;
    position: relative;
    z-index: 1;
}

.subscribe .element-subscribe {
    position: absolute;
    bottom: 30%;
    right: 0;
    z-index: -1;
}

.subscribe .container {
    padding-top: 120px;
    padding-bottom: 90px;
    text-align: center;
}

.subscribe .container h2 {
    font-size: 35px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    padding-right: 0px;
    padding-bottom: 40px;
}

@media (min-width: 1400px) {
    .subscribe .container h2 {
        font-size: 45px;
        padding-bottom: 0px;
    }
}

.subscribe .container input {
    border: 1px solid #191919;
    color: #191919;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 25px;
}

.subscribe .container a {
    display: flex;
    align-items: center;
}

.subscribe .container .center-content {
    padding-top: 40px;
}

@media (min-width: 1400px) {
    .subscribe .container {
        display: flex;
        gap: 20px;
    }

    .subscribe .container h2 {
        padding-right: 160px;
        padding-bottom: 0px;
    }

    .subscribe .container .center-content {
        padding-top: 0px;
    }
}