.testimonial .white-box .container .comments .comment-box {
    padding-bottom: 15px;
  }
  .testimonial .white-box .container .comments .comment-box .stars {
    padding-bottom: 20px;
    padding-top: 90px;
  }
  .testimonial .white-box .container .comments .section-title {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    text-align: left;
  }
  .testimonial .white-box .container .comments .section-title h3 {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 0px;
  }
  .testimonial .white-box .container .comments .clients {
    display: flex;
    align-items: center;
    padding-top: 15px;
  }
  .testimonial .white-box .container .comments .clients p {
    margin-bottom: 0px;
  }