.testimonial .white-box {
    padding-top: 90px;
    background-color: #F9D783;
  }
  @media (min-width: 900px) {
    .testimonial .white-box {
      padding: 90px;
    }
  }
  .testimonial .white-box .container {
    background-color: #FFFFFF;
    max-width: 1500px;
  }
  .testimonial .white-box .container .section-title {
    text-align: center;
    padding-bottom: 0px;
  }
  .testimonial .white-box .container .section-title h2 {
    font-size: 35px;
  }
  @media (min-width: 1400px) {
    .testimonial .white-box .container .section-title h2 {
      font-size: 45px;
    }
  }
  .testimonial .white-box .container .comments {
    padding-left: 20px;
    padding-right: 20px;
    gap: 100px;
  }
  @media (min-width: 1200px) {
    .testimonial .white-box .container .comments {
      display: flex;
    }
  }
 
  .testimonial .white-box .container .center-content {
    padding-top: 90px;
    padding-bottom: 90px;
  }